[run]
omit =
    *argparse*
    *ctypes*
    *encodings*
    *funcsigs*
    *mock*
    *nose*
    *packaging*
    *pkg_resources*
    *pbr*
    *pyparsing*
    *scandir*
    *six.py
    *seqparse.test*
    *uuid.py

[report]
exclude_lines =
    pragma: no cover
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
